{% extends layout %}

{% block pageContent %}
<div class="container">
    <h3>{{ h3 }}</h3>
    <form action="" method="POST">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Заголовок новости</label>
            <input
                    type="text"
                    name="article[title]"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="Заголовок новости"
                    value="{{ title }}"
            >
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Текст новости</label>
            <textarea
                    class="form-control"
                    name="article[content]"
                    id="exampleFormControlTextarea1"
                    rows="10"
                    placeholder="Текст новости"
            >{{ content }}</textarea>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlSelect1" class="form-label">Автор новости</label>
            <select name="article[author]" class="form-select" id="exampleFormControlSelect1">
                {% for author in authors %}
                    <option
                            value="{{ author.id }}"
                            {% if author_id == author.id %}
                            selected
                            {% endif %}
                    >{{ author.fio }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <button
                    class="btn btn-danger"
                    type="submit"
            >
                {{ textSubmit }}
            </button>
        </div>
    </form>
</div>
{% endblock %}